/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 24, ../sass/index.scss */
.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
  padding: 1em;
}

/* line 35, ../sass/index.scss */
.rounded_bottom {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1em;
}

/* line 46, ../sass/index.scss */
.rounded_top {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 1em;
}

/* line 57, ../sass/index.scss */
.gradiented {
  background-color: #2284a1;
  background: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #2284a1), color-stop(100%, #10243a));
  background: -webkit-linear-gradient(top bottom, #2284a1, #10243a);
  background: -moz-linear-gradient(top bottom, #2284a1, #10243a);
  background: -o-linear-gradient(top bottom, #2284a1, #10243a);
  background: linear-gradient(top bottom, #2284a1, #10243a);
  /* Firefox 16+, IE10, Opera 12.50+ */
  box-shadow: 2px 2px 4px #333;
}

/* line 71, ../sass/index.scss */
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eee;
}
/* line 66, ../sass/index.scss */
.box p {
  margin: 0;
}

/* line 75, ../sass/index.scss */
.success_box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eee;
  color: #468847;
  background-color: #aff0a8;
  border-color: #b6f9a6;
}
/* line 66, ../sass/index.scss */
.success_box p {
  margin: 0;
}

/* line 83, ../sass/index.scss */
.warning {
  color: #884647;
  background-color: #f0afa8;
  border-color: #f9b6a6;
}

/* line 89, ../sass/index.scss */
.warning.box {
  padding: 1em;
}

/* line 93, ../sass/index.scss */
input {
  padding: .5em 1em;
}

/* line 97, ../sass/index.scss */
ul.form_wrapper li {
  list-style-type: none;
}
